<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jee4a.oss.auth.mapper.SysOrgMapper" >
  <resultMap id="BaseResultMap" type="com.jee4a.oss.auth.model.sys.SysOrg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="org_name" property="name" jdbcType="VARCHAR" />
    <result column="order_by" property="orderBy" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,  parent_id, org_name, order_by, is_deleted, creator, create_time, updator, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_org
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jee4a.oss.auth.model.sys.SysOrg" >
    insert into sys_org (id,  parent_id, 
      org_name, order_by, is_deleted, 
      creator, create_time, updator, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{orderBy,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT}, 
      #{creator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jee4a.oss.auth.model.sys.SysOrg" >
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="name != null" >
        org_name,
      </if>
      <if test="orderBy != null" >
        order_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jee4a.oss.auth.model.sys.SysOrg" >
    update sys_org
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        org_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        order_by = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jee4a.oss.auth.model.sys.SysOrg" >
    update sys_org
    set 
      parent_id = #{parentId,jdbcType=INTEGER},
      org_name = #{name,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="queryList" parameterType="com.jee4a.oss.auth.model.sys.SysOrg" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from sys_org where is_deleted = 0
  	<if test="parentId != null" >
        and parent_id = #{parentId,jdbcType=INTEGER}
    </if>
    <if test="name !=null and name !=''">
  		and org_name = #{name,jdbcType=VARCHAR}
  	</if>
  	<if test="id !=null">
  		and id = #{id,jdbcType=INTEGER}		
  	</if>
    <if test="idList != null ">
        and id in
        <foreach collection="idList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </if>
  </select>
  
  <select id="queryByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from sys_org where is_deleted = 0
  	<if test="parentId != null" >
        and parent_id = #{parentId,jdbcType=INTEGER}
    </if>
  </select>
  
</mapper>